.slide {
    justify-content: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 300px 900px;
    background-color: #f6f6f6;
    /*padding-left: 10.5%;*/
    /*padding-left: 200px;*/
    height: 54.4vh;
}

.footer {
    display: none;
}


@media (max-width: 1200px) {
    .slide {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        height: 750px;
    }

    .slide > img {
        grid-column: span 2;
        grid-row: 1/2;
        width: 600px;
        height: 383px;
    }

    .slider-slide-text {
        grid-row: 2/3;
        grid-column: span 2;
        justify-self: center;
    }
}

@media (max-width: 1000px) {
    .slide {
        height: 550px;
    }

    .slide > img {
        width: 600px !important;
        height: 383px !important;
    }
}

.slide > img {
    grid-column: 2/3;
    width: 900px;
}

.slider-slide-text {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 38px;
    align-content: center;
    max-width: 440px;
}

.slider-slide-text__title {
    font-family: 'MontserratMedium';
    font-size: 38px;
}

.slider-slide-text__main {
    font-size: 16px;
    line-height: 24px;
    font-family: 'NuritoSansRegular';
    color: #919191;
}

.slider-slide-text-contacts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.slider-slide-text-contacts__category {
    font-family: 'NuritoSansBold';
}

.slider-slide-text-contacts__text {
    font-family: 'NuritoSansRegular';
    color: #919191;
}

.buttons {
    display: grid;
    grid-template-columns: 170px 20px 140px;
    height: 9.3vh;
    justify-content: space-around;
    align-content: center;
    font-family: 'MontserratMedium';
    font-size: 1.1vh;
}

.buttons-prev {
    display: grid;
    grid-template-columns: repeat(2, auto);
    cursor: pointer;
}

.buttons-prev > i {
    font-size: 2.2vh;
}

.buttons-mid {
    display: grid;
    column-gap: 4px;
    grid-template-columns: repeat(2, 6px);
    row-gap: 4px;
    grid-template-rows: repeat(2, 6px);
    cursor: pointer;
}

.buttons-next {
    display: grid;
    grid-column: 3/4;
    grid-template-columns: repeat(2, auto);
    cursor: pointer;
}

.buttons-next > i {
    font-size: 24px;
}

.buttons-prev__text {
    position: relative;
    top: 4px;
}

.buttons-next__text {
    position: relative;
    top: 4px;
}

.slider-slide-text__button {
    border: none;
    background-color: #319BDE;
    font-size: 30px;
    color: white;
    font-family: 'MontserratMedium';
    justify-self: center;
    height: 50px;
    width: 170px;
    border-radius: 7px;
    cursor: pointer;
}

.slide > img {
    height: 574px;
    align-self: center;
    border-radius: 7px;
    border: solid 2px #919191;
}