@media (max-width: 900px) {
    .blocks {
        row-gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 139px);
        top: -30px;
        width: 86%;
    }

    .blocks-block__img {
        width: 56px;
    }

    .blocks-block {
        margin: 0;
        height: 73px;
        align-self: center;
        align-content: center;
        justify-content: space-around;
        grid-template-rows: auto;
        grid-template-columns: 20% 52%;
        padding-top: 33px;
        padding-bottom: 33px;
    }

    .blocks-block__title {
        font-size: 17px;
        line-height: 25px;
    }

    .blocks-block__text {
        display: none;
    }

    .order {
        display: none;
    }
}