@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}