@media (max-width: 900px) {
    footer {
        padding-left: 0;
        grid-template-columns: 85%;
        grid-template-rows: repeat(2, auto);
        row-gap: 50px;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 48px;
    }

    .footer-col__title {
        padding: 0;
    }

    .footer-col:nth-child(1) {
        display: none;
    }

    .footer-col__item:nth-child(3), .footer-col__item:nth-child(5) {
        display: none;
    }

    .footer-col-contacts__img {
        width: 22px;
        align-self: center;
    }

    .footer-col:nth-child(3) {
        width: 75%;
    }
}