@media (max-width: 900px) {
    .rights {
        margin-top: 0;
        grid-template-columns: 80%;
    }

    .rights__text-adapt {
        text-align: center;
        display: grid;
    }

    .rights__text {
        display: none;
    }

    .rights-icons {
        margin-top: 20px;
        width: 18%;
        grid-template-columns: repeat(2, 23px);
        justify-self: center;
        justify-content: space-between;
    }

    .rights-icons__twitter {
        display: none;
    }
}