@import url(header/header.css);
@import url(top.css);
@import url(fonts.css);
@import url(blocks.css);
@import url(main/main.css);
@import url(footer.css);
@import url(rights.css);
@import url(header/header-adapt.css);
@import url(top-adapt.css);
@import url(blocks-adapt.css);
@import url(main/orders-adapt.css);
@import url(main/table-adapt.css);
@import url(main/conditions-adapt.css);
@import url(main/presentation-adapt.css);
@import url(main/connection-adapt.css);
@import url(footer-adapt.css);
@import url(rigths-adapt.css);

body {
    display: grid;
    margin: 0;
}

.element-animation {
    margin: 2rem 0;
    
    opacity: 0;
    transform: translateY(40%);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}