.about-text {
    display: grid;
    grid-template-rows: repeat(3, auto);
    height: 46.3vh;
}

.about-text__title {
    font-family: 'OverpassExtraBold';
    font-size: 5.1vh;
}

.about-text__main {
    font-family: 'RobotoRegular';
    font-size: 2vh;
    color: #5e5858;
}

.about-text__button {
    border: none;
    font-family: 'OverpassExtraBold';
    border-radius: 7px;
    background-color: rgb(192, 74, 226);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.08);
    width: 10.7vw;
    height: 5.6vh;
    color: white;
    cursor: pointer;
}