@import url(about-images.css);
@import url(about-text.css);

.about {
    display: grid;
    background-image: url(../../img/about/blur\ element.png);
    grid-template-columns: 26vw 38.5vw;
    column-gap: 10.2vw;
    height: 50.9vh;
    padding-left: 19.2vw;
}

@media (max-width: 1500px) {
    .about {
        padding-left: 10vw;
    }
}