.about-images {
    display: grid;
    grid-template-columns: repeat(2, 16.1vw);
    grid-template-rows: repeat(2, 37.5vh);
    row-gap: 6vh;
}

.about-images__img1 {
    display: grid;
    grid-column: 1/2;
    height: 37.5vh;
    width: 20.8;
}

.about-images__img2 {
    display: grid;
    grid-column: 2/3;
    grid-row: span 2;
    height: 37.5vh;
    width: 20.8;
    position: relative;
    top: 10vh;
}

.about-images__img3 {
    display: grid;
    justify-self: end;
    padding-right: 2.8vw;
}

@media (max-width: 1500px) {
    .about-images__img2 {
        left: 6vh;
    }
}