.service-tile {
    display: grid;
    grid-template-columns: repeat(3, 19.4vw);
    column-gap: 1.6vw;
    height: 107.9vh;
    justify-self: center;
}

.service-tile-col {
    display: grid;
    row-gap: 20px;
}

.service-tile-col1 {
    display: grid;
    align-self: flex-start;
}

.service-tile-col2 {
    display: grid;
    align-self: center;
}

.service-tile-col3 {
    display: grid;
    align-self: flex-end;
}