@import url(service-text.css);
@import url(service-tile.css);
@import url(service-tiles.css);


.service {
    background-image: url(../../img/service/bg.png), url(../../img/service/blur\ element.png), url(../../img/service/style\ element\ 5.png);
    background-size: cover;
    display: grid;
    width: 61vw;
    padding-left: 19vw;
    padding-right: 19.0vw;
    height: 171.7vh;
}

@media (max-width: 1200px) {
    .service {
        width: 84vw;
    }
}