footer {
    display: grid;
    height: 285px;
    grid-template-columns: auto 1140px auto;
    background-color: #141414;
    font-family: 'NuritoSansRegular';
    font-size: 15px;
    color: #9a9a9a;
}

.footer-container {
    grid-column: 2/3;
    align-self: center;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    justify-content: space-between;
}

.footer-company {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 25px;
}

.footer-company__name {
    font-family: 'MontserratMedium';
    color: white;
    font-size: 18px;
}

.footer-company__copyright {
    line-height: 24px;
}

.footer-contacts {
    display: grid;
    grid-template-rows: 24px auto;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.footer-nav-col {
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.footer-social {
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.footer-nav-col > a {
    color: #9a9a9a;
    text-decoration: none;
}

.footer-social > a {
    color: #9a9a9a;
    text-decoration: none;
}