header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 100px;
    background-color: white;
    position: sticky;
}

.header-container {
    align-content: center;
    grid-column: 2/3;
    display: grid;
    max-width: 1366px;
    grid-template-columns: 35px 226px;
    column-gap: 900px;
    padding-left: 100px;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-family: 'MontserratMedium';
    justify-content: space-around;
}

.header-menu__item {
    color: black;
    text-decoration: none;
}

.header-menu__item:hover {
    color: #20cdc7;
}