@font-face {
    font-family: 'MontserratMedium';
    src: url(font/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'NuritoSansRegular';
    src: url(font/NuritoSans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'NuritoSansBold';
    src: url(font/NuritoSans/NunitoSans-Bold.ttf);
}