@import url(intro-blocks.css);
@import url(intro-text.css);

.intro {
    background-image: url(../../img/blur\ element.png), url(../../img/intro/style\ element\ 3.png);
    display: grid;
    background-size: 100% contain;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    height: 120vh;
    align-content: center;
    row-gap: 11.1vh;
}