.intro-text {
    display: grid;
    justify-self: center;
    grid-template-rows: repeat(2, auto);
    font-family: 'OverpassExtraBold';
    text-align: center;
    max-width: 39.6vw;
    row-gap: 4.1vh;
}

.intro-text__slogan {
    font-size: 1.9vh;
    color: #c04ae2;
}

.intro-text__title {
    font-size: 5.4vh;
    line-height: 6vh;
}