.icons {
    display: grid;
    background-color: #10c9c3;
    height: 240px;
    justify-content: center;
    color: white;
}

.icons-container {
    display: grid;
    width: 1170px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    align-self: center;
    max-height: 50px;
}

.icons-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 16px);
    column-gap: 40px;
    font-family: 'MontserratMedium';
    row-gap: 15px;
}

.icons-item > i {
    grid-column: 1/2;
    grid-row: span 2;
    font-size: 48px;
}

.icons-item__number {
    font-size: 18px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.icons-item__text {
    font-size: 12px;
}