@import url(../fonts.css);
@import url(../header.css);
@import url(name.css);
@import url(icons.css);
@import url(about.css);
@import url(project.css);
@import url(../footer.css);

body {
    margin: 0;
}

.body-container {
    justify-content: center;
    justify-self: center;
    justify-items: center;
}