.popup-sigin, .popup-share {
    transition: all 0.5s ease 0s;
}

.popup-sigin .left, .popup-share .left {
    display: none;
}

.popup-sigin, .popup-share {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    width: 90%;
    max-height: 90vh;
    overflow-y: scroll;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-image: initial;
    border-radius: 6px;
}

.popup-sigin .right__span, .popup-share .right__span {
    display: block;
    max-width: 330px;
    font-size: 15px;
    font-family: Geometria-Light;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0.5rem auto;
}

.popup-sigin .right .signup, .popup-share .right .signup {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Geometria;
    letter-spacing: 2px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 0.5rem;
}

.popup-sigin .right .signup__list, .popup-share .right .signup__list {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.mini-btn-signup {
    display: block;
    font-size: 14px;
    font-family: Geometria;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: rgb(52, 152, 219);
    margin-bottom: 15px;
    line-height: unset !important;
    text-align: unset !important;
    width: unset !important;
    height: unset !important;
    text-decoration: none;
}


.signup-text {
    max-width: 370px;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 12px;
    font-family: Geometria;
    font-weight: 400;
    color: rgb(155, 155, 155);
    margin: 0px;
}

.d-none-over {
    top: -1500px !important;
    transition: all 1.5s ease 0s;
}

.popup-bg {
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
}

.popup-bg {
    z-index: 99;
}

.signup__list a {
    top: 1px;
}

.soc-vk::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 13px;
    width: 24px;
    height: 14px;
    background: url("https://cdn.megabonus.com/images/user/vk.svg") 0% 0% / cover no-repeat;
}

.popup-sigin .right, .popup-share .right {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    position: relative;
    width: 100%;
    padding: 120px 15px 0px;
    border-radius: 0px 6px 6px 0px;
}

.enter_email {
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-family: Geometria;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: rgb(0, 0, 0);
    line-height: 2;
    position: relative;
    margin: 0px;
}

.popup-sigin form, .popup-share form {
    max-width: 330px;
    padding: 1rem 0px;
}

.login-wrapper-btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-sigin button, .popup-share button {
    display: block;
    width: 100%;
    height: 46px;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: all 200ms ease 0s;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 11px 10px;
    margin: 0px 0px 14px;
    background: rgb(137, 191, 29);
    border-radius: 4px;
}

.popup-sigin form input, .popup-share form input {
    width: 100%;
    line-height: 40px;
    color: rgb(0, 0, 0);
    appearance: none;
    height: 41px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    background: rgb(255, 255, 255);
    padding: 0px 50px 0px 10px;
    border-radius: 0px !important;
}

.enter_email::before {
    left: 0px;
}

.enter_email::after {
    right: 0px;
}

.popup-sigin .right, .popup-share .right {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    position: relative;
    width: 100%;
    padding: 120px 15px 0px;
    border-radius: 0px 6px 6px 0px;
}

.popup-sigin .right .signup__list li a, .popup-share .right .signup__list li a {
    display: block;
    height: 40px;
    padding-right: 1rem;
    line-height: 3.2;
    color: rgb(255, 255, 255);
    font-family: Geometria;
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: none;
}

.soc-ok::before {
    content: "";
    position: absolute;
    left: 27px;
    top: 8px;
    width: 14px;
    height: 23px;
    background: url("https://cdn.megabonus.com/images/user/ok.svg") 0% 0% / cover no-repeat;
}

.soc-google::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 11px;
    width: 17px;
    height: 17px;
    background: url("https://cdn.megabonus.com/images/user/google.svg") 0% 0% / cover no-repeat;
}

.soc-fb::before {
    content: "";
    position: absolute;
    left: 26px;
    top: 8px;
    width: 12px;
    height: 22px;
    background: url("https://cdn.megabonus.com/images/user/fb.svg") 0% 0% / cover no-repeat;
}

.soc-fb {
    background-color: rgb(74, 102, 159) !important;
}

.soc-google {
    background: rgb(219, 88, 65) !important;
}

.soc-ok {
    background: rgb(232, 133, 4) !important;
}

.popup-sigin .right .signup__list li, .popup-share .right .signup__list li {
    position: relative;
    display: block;
    background-color: rgb(94, 136, 185);
    cursor: pointer;
    border-radius: 20px;
    margin: 0px auto 12px;
    transition: all 0.3s ease 0s;
}

.soc-fb::before {
    content: "";
    position: absolute;
    left: 26px;
    top: 8px;
    width: 12px;
    height: 22px;
    background: url("https://cdn.megabonus.com/images/user/fb.svg") 0% 0% / cover no-repeat;
}

.popup-sigin .right .signup__list li, .popup-share .right .signup__list li {
    position: relative;
    display: block;
    background-color: rgb(94, 136, 185);
    cursor: pointer;
    border-radius: 20px;
    margin: 0px auto 12px;
    transition: all 0.3s ease 0s;
}

.enter_email {
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-family: Geometria;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: rgb(0, 0, 0);
    line-height: 2;
    position: relative;
    margin: 0px;
}

ol, ul {
    list-style: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background-color: rgb(254, 222, 49);
}

.enter_email::before, .enter_email::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    width: 20%;
    border-bottom: 2px dashed rgb(223, 222, 222);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}

.h2-slider {
    width: 286px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
}

.span-slider {
    width: 349px;
    height: 29px;
    opacity: 0.9;
    font-family: "Open Sans";
    font-size: 13px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 140px;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.popup-sigin .right__span, .popup-share .right__span {
    display: block;
    max-width: 330px;
    font-size: 15px;
    font-family: Geometria-Light;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0.5rem auto;
}

.popup-sigin__slide, .popup-login__slide {
    margin-right: 0px;
    padding-top: 40px;
    padding-left: 49px;
    padding-right: 49px;
    background-size: cover;
    background-repeat: no-repeat;
}

.span-slider a {
    font-family: "Open Sans";
    color: rgb(30, 108, 180);
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid rgb(30, 108, 180);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    opacity: 0.2;
    border-radius: 100%;
    background: rgb(0, 0, 0);
}

.swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    opacity: 0.2;
    border-radius: 100%;
    background: rgb(0, 0, 0);
}

.swiper-pagination-bullet {
    background-color: rgb(44, 44, 44);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 4px;
}

.h2-slider {
    width: 286px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-sigin__slide:nth-child(1), .popup-login__slide:nth-child(1) {
    background-image: url("./assets/slide1.jpg");
    /*background-position: 0px center;*/
}

.popup-sigin__slide:nth-child(2), .popup-login__slide:nth-child(2) {
    background-image: url("./assets/slide2.jpg");
    background-position: -30px center; 
}
.popup-sigin__slide:nth-child(3), .popup-login__slide:nth-child(3) {
    background-image: url("./assets/slide3.jpg");
    background-position: -28px center;
}
.popup-sigin__slide:nth-child(4), .popup-login__slide:nth-child(4) {
    background-image: url("./assets/slide4.jpg");
    /* background-position: -68px center; */
}
.popup-sigin__slide:nth-child(5), .popup-login__slide:nth-child(5) {
    background-image: url("./assets/slide5.jpg");
    /* background-position: 0px center; */
}
.popup-sigin__slide:nth-child(6), .popup-login__slide:nth-child(6) {
    background-image: url("./assets/slide6.png");
    /* background-position: 0px center; */
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transform: translate3d(0px, 0px, 0px);
    z-index: 10;
    transition: opacity 0.3s ease 0s;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.swiper-container {
    position: relative;
    z-index: 1;
    margin: 0px auto;
    overflow: hidden;
    list-style: none;
    padding: 0px;
}

.slider-popup-wrapp {
    position: relative;
    height: 100%;
}

.popup-sigin .right, .popup-share .right {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    position: relative;
    width: 100%;
    padding: 120px 15px 0px;
    border-radius: 0px 6px 6px 0px;
}

.right {
    position: relative;
}

@media screen and (min-width: 736px){
    .right {
        padding-right: 15px;
    }
}

.left {
    box-sizing: border-box;
    margin: 0px 15px 15px;
}

.popup-sigin, .popup-share {
    z-index: 999;
}

.popup-exit, .popup-share__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"18px\" height=\"18px\"><path fill=\"rgb(10,10,10)\" d=\"M17.026,1.959 L9.964,9.022 L17.026,16.085 C17.284,16.342 17.284,16.761 17.026,17.020 C16.897,17.149 16.727,17.213 16.558,17.213 C16.389,17.213 16.219,17.149 16.090,17.020 L9.028,9.958 L1.966,17.020 C1.837,17.149 1.668,17.213 1.499,17.213 C1.329,17.213 1.160,17.149 1.031,17.020 C0.772,16.761 0.772,16.342 1.031,16.085 L8.093,9.022 L1.031,1.959 C0.772,1.702 0.772,1.282 1.031,1.025 C1.289,0.765 1.708,0.765 1.966,1.025 L9.028,8.087 L16.090,1.025 C16.348,0.765 16.767,0.765 17.026,1.025 C17.284,1.282 17.284,1.702 17.026,1.959 Z\"/></svg>");
    background-size: cover;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 90;
}

.popup-sigin .right img, .popup-share .right img {
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 150px;
    height: 27px;
}

@media screen and (min-width: 1280px) {
    .popup-sigin, .popup-share {
        min-height: 85vh;
    }

    .popup-exit, .popup-share__close {
        top: -2rem;
        right: -2rem;
        background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"18px\" height=\"18px\"><path fill=\"rgb(255,255,255)\" d=\"M17.026,1.959 L9.964,9.022 L17.026,16.085 C17.284,16.342 17.284,16.761 17.026,17.020 C16.897,17.149 16.727,17.213 16.558,17.213 C16.389,17.213 16.219,17.149 16.090,17.020 L9.028,9.958 L1.966,17.020 C1.837,17.149 1.668,17.213 1.499,17.213 C1.329,17.213 1.160,17.149 1.031,17.020 C0.772,16.761 0.772,16.342 1.031,16.085 L8.093,9.022 L1.031,1.959 C0.772,1.702 0.772,1.282 1.031,1.025 C1.289,0.765 1.708,0.765 1.966,1.025 L9.028,8.087 L16.090,1.025 C16.348,0.765 16.767,0.765 17.026,1.025 C17.284,1.282 17.284,1.702 17.026,1.959 Z\"/></svg>");
    }
}

@media screen and (min-width: 960px){
    .popup-sigin, .popup-share {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1140px;
        max-height: initial;
        overflow: visible;
    }

    .popup-sigin .left, .popup-share .left {
        display: block;
        height: 100%;
        background-color: rgb(29, 27, 16);
        user-select: none;
        margin: 0px;
        border-radius: 6px 0px 0px 6px;
        overflow: hidden;
    }

    .enter_email::before, .enter_email::after {
        width: 30%;
        top: 44%;
    }
}

@media screen and (min-width: 480px){

.popup-sigin .right .signup__list li a, .popup-share .right .signup__list li a {
    padding-left: 50px;
    font-size: 1.5rem;
    line-height: 2.5;
}

.enter_email::before, .enter_email::after {
    width: 28%;
}
}

@media screen and (min-width: 640px){

.enter_email::before, .enter_email::after {
    width: 35%;
}
}

@media screen and (min-width: 360px){
.login-wrapper-btn {
    flex-direction: row;
}
}