@import url(fonts.css);
@import url(hero-area/header.css);
@import url(hero-area/main.css);
@import url(intro/intro-style.css);
@import url(about/about-style.css);
@import url(service/service-style.css);
@import url(portfolio/portfolio-style.css);
@import url(contact/contact-style.css);
@import url(team-section/team-section-style.css);
@import url(blog/blog-style.css);
@import url(footer/footer-style.css);

body {
    margin: 0;
}

@media (max-width: 1200px) {
    body {
        width: 120vw;
    }
}

@media (max-width: 768px) {
    body {
        width: 140vw;
    }
}
