@import url(contact-form.css);

.contact-main-left {
    display: grid;
    grid-template-rows: 3.2vh 58.3vh;
    row-gap: 4.6vh;
    height: 66.7vh;
}

.contact-main-left__header {
    font-family: 'OverpassExtraBold';
    font-size: 3.9vh;
}

@media (max-width: 1000px) {
    .contact-main-left {
        row-gap: 9.6vh;
    }
}