@media (max-width: 1000px) {
    .navpan {
        top: 132px;
        display: grid;
        position: fixed;
        grid-template-rows: repeat(5, 360px) 288px;
        grid-template-columns: repeat(5, 288px);
        background-color: black;
        width: 1440px;
        height: 2088px;
        z-index: 50;
        color: white;
        font-size: 95px;
        background-color: #061e37;
        transition: 0.5s;
    }

    .hidden {
        top: -2088px;
    }

    .navpan__text {
        padding-left: 70px;
        height: 360px;
        font-family: "RalewayRegular";
    }

    .navpan__item {
        display: grid;
        border: solid 2px white;
        grid-column: span 5;
        align-content: center;
    }

    .navpan__social {
        justify-content: center;
        font-size: 50px;
        grid-column: span 1;
    }
    
    .footer {
        display: none;
    }
}