@media (max-width: 1000px) {
    .team {
        grid-template-columns: auto 900px auto;
    }

    .team-container {
        max-width: 900px;
        row-gap: 20px;
    }

    .team-title {
        font-size: 85px;
    }

    .team-subtitle {
        font-size: 35px;
        line-height: 35px;
    }

    .team-text__name {
        font-size: 38px;
    }

    .team-text__text {
        font-size: 25px;
        line-height: 30px;
    }

    .team-icons {
        font-size: 37px;
        column-gap: 35px;
        width: 400px;
    }
}