@import url(../css/fonts.css);

.colors {
    display: grid;
    font-family: "RalewayExtraBold";
    font-size: 20px;
    line-height: 1.25;
    color: white;
    height: 150px;
    grid-template-columns: repeat(4, auto);
}

.colors-section {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 24px;
    align-content: center;
}

.colors__circle {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
}

.colors__img1 {
    position: relative;
    left: 18px;
    top: 18px;
}
.colors__img2 {
    position: relative;
    left: 21px;
    top: 19px;
}
.colors__img3 {
    position: relative;
    left: 20px;
    top: 20px;
}
.colors__img4 {
    position: relative;
    left: 21px;
    top: 19px;
}

.colors__text {
    align-self: center;
}

.colors-section1 {
    background-color: #80d8ff;
}
.colors-section2 {
    background-color: #82b1ff;
}
.colors-section3 {
    background-color: #b388ff;
}
.colors-section4 {
    background-color: #ea80fc;
}