@import url(../css/fonts.css);

.services {
    display: grid;
    grid-template-columns: auto minmax(auto, 800px) auto;
    font-family: "RalewayRegular";
    margin-bottom: 100px;
}

.services-container {
    display: grid;
    grid-column: 2/3;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
}

.services-text {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}

.services-text__title {
    font-family: "RalewaySemiBold";
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.services-text__about {
    font-size: 15px;
    text-align: center;
    color: #b0bec5;
    line-height: 25px;
    max-width: 550px;
}

.services-main {
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 20px;
}

.services-main-item {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.services-main-item-header {
    display: grid;
    grid-template-columns: 18px auto 11px;
    column-gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
}

.services-main-item-body {
    display: grid;
    max-height: 400px;
    grid-template-columns: 250px auto;
    padding-bottom: 24px;
    column-gap: 25px;
    transition: all 0.3s;
}

.services-main-item-body-op {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
}

.services-main-item-body-dis {
    display: none !important;
}

.services-main-item-header__arrow {
    align-self: center;
}

.services-main-item-header, .services-main-item-body{
    padding-left: 24px;
    padding-right: 24px;
}

.services-main-body__text {
    font-size: 15px;
    line-height: 25px;
}