@import url(../fonts.css);
@import url(../footer.css);
@import url(../header.css);
@import url(main.css);

body {
    margin: 0;
}


.body-container {
    justify-content: center;
    justify-self: center;
    justify-items: center;
}