@import url(portfolio-body.css);
@import url(portfolio-header.css);
@import url(portfolio-footer.css);

.portfolio {
    background-image: url(../../img/portfolio/bg.png);
    background-size: cover;
    display: grid;
    height: 222.2vh;
    grid-template-rows: 18.5vh 148.1vh 3.7vh;
    justify-content: center;
    row-gap: 9.3vh;
    align-content: center;
}