.blog-main-item {
    display: grid;
    grid-template-rows: 8.3vh 7.9vh 3.7vh;
    align-content: space-between;
    justify-content: center;
    border: #b8c8cc 1px solid;
    border-radius: 7px;
    height: 30vh;
    font-family: 'RobotoRegular';
    padding-top: 4.2vh;
    padding-bottom: 4.2vh;
    transition: 0.3s;
}

.blog-main-item:hover {
    background-color: white;
    border: none;
}

.blog-main-item-title {
    display: grid;
    grid-template-rows: 1.9vh 5.1vh;
    row-gap: 1.4vh;
    max-width: 15.4vw;
}

.blog-main-item-title__title {
    font-size: 1.7vh;
}

.blog-main-item-title__subtitle {
    font-size: 2.2vh;
}

.blog-main-item__text {
    color: #585858;
    max-width: 15.4vw;
    font-size: 1.7vh;
}

.blog-main-item-footer {
    display: grid;
    grid-template-columns: 9.6vw 2.8vw;
    justify-content: space-between;
    max-width: 15.4vw;
}

.blog-main-item-footer-name {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.blog-main-item-footer-name__image {
    height: 3.9vh;
}

.blog-main-item-footer-name__name {
    font-size: 1.8vh;
    align-self: center;
}

.blog-main-item-footer__like {
    font-size: 1.8vh;
    align-self: center;
}