.quote-block-text {
    display: grid;
    grid-template-rows: 11.1vh 9.3vh 9.3vh;
    row-gap: 6vh;
}

.quote-block-textarea1 {
    display: grid;
    grid-template-rows: 1.9vh 5.6vh;
    row-gap: 3.7vh;
}

.quote-block-textarea__title {
    font-family: 'OverpassExtraBold';
    color: #cc6ee8;
}

.quote-block-textarea__subtitle {
    font-family: 'OverpassExtraBold';
    font-size: 5vh;
}

span.quote-block-textarea {
    font-family: 'RobotoRegular';
    color: #5e5858;
}

.quote-block-textarea3 {
    display: grid;
    grid-template-rows: 2.1vh 1vh;
    row-gap: 5.1vh;
}

.quote-block-textarea-signature {
    display: grid;
    grid-template-columns: 7vw 7vw;
}

.quote-block-textarea-signature__name {
    font-family: 'OverpassExtraBold';
}

.quote-block-textarea-signature__position {
    font-family: 'RobotoRegular';
    color: #5e5858;
    font-size: 1.1vh;
    align-self: center;
}