.footer-bot {
    display: grid;
    grid-template-columns: 13.5vw 16.7vw;
    justify-content: space-between;
}

.footer-bot-left {
    display: grid;
    grid-template-columns: 5vw 6.8vw;
    column-gap: 2.6vw;
    font-family: 'OverpassExtraBold';
}

.footer-bot-left-icons {
    display: grid;
    grid-template-columns: repeat(4, 1vw);
    column-gap: 1vw;
}

.footer-bot-left-icons > i {
    justify-self: center;
}

.footer-bot-right {
    font-family: 'RobotoRegular';
}

.footer-bot-right__name {
    font-family: 'OverpassExtraBold';
}