.conditions {
    margin-top: 120px;
    margin-bottom: 115px;
    justify-self: center;
    width: 90%;
    max-width: 1440px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 77px;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
}

.conditions__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    grid-column: span 3;
}

.conditions-block {
    justify-content: center;
    padding-top: 67px;
    padding-bottom: 52px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 30px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: space-between;
    min-height: 580px;
}

.conditions-block__img {
    justify-self: center;
}

.conditions-block__text {
    justify-self: center;
    width: 87%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: 0.2px;
    text-align: center;
}

.conditions-block__about {
    height: 73px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    border: 0;
    justify-self: center;
    width: 60%;
    background: #00CCA6;
    border-radius: 37px;
}