.connection {
    color: black;
    margin-top: 100px;
    grid-column: span 2;
    position: relative;
    display: grid;
    width: 130%;
    justify-self: center;
    grid-template-columns: 46% 47%;
    column-gap: 4.5%;
    grid-template-rows: 112px auto;
    background-color: white;
    height: 686px;
}

.connection-cov {
    grid-row: span 2;
    height: 555px;
}

.connection__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.connection__title {
    padding-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
}

.connection-form {
    display: grid;
    grid-template-rows: repeat(8, 50px) 40px 50px;
}

.connection-form__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px; 
    align-self: center;
}

.connection-form__input {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding-left: 20px;
}

.connection-form__button {
    grid-row: 10/11;
    border: 0;
    background: #00CCA6;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: white;
}