.orders {
    padding-top: 85px;
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(3, auto);
    width: 81%;
}

.orders__title {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
}

.orders__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 47px;
    letter-spacing: 0.2px;
}