@media (max-width: 900px) {
    .orders__title {
        font-size: 26px;
        line-height: 35px;
    }

    .orders__text {
        font-size: 18px;
        line-height: 22px;
        color: #3C403D;
    }
}