.table {
    display: grid;
    grid-template-rows: repeat(11, 52px);
    row-gap: 10px;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    text-align: center;
    width: 90%;
    justify-self: center;
}

.table__cell {
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 20px;
    color: #737373;
}

.table__path {
    grid-column: 1/2;
}

.table__about {
    color: white;
    border: 0;
    background: #00CCA6;
    border-radius: 503px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
}

.table__button {
    display: none;
}