.contact-text {
    display: grid;
    grid-template-rows: 1.9vh 11.6vh;
    row-gap: 3.2vh;
    width: 37.2vw;
    text-align: center;
    justify-self: center;
    font-family: 'OverpassExtraBold';
}

.contact-text__title {
    font-size: 1.9vh;
    color: #c862e6;
}

.contact-text__subtitle {
    font-size: 5.6vh;
}