@import url(left/contact-main-left.css);
@import url(right/contact-main-right.css);

.contact-main {
    display: grid;
    grid-template-columns: repeat(2, 24.7vw);
    column-gap: 11.9vw;
    justify-content: center;
    align-content: center;
}